Main App/Secret.json

# Firebase configuration files
GoogleService-Info.plist
google-services.json

# Node modules
node_modules/

# Environment variables
.env

# Firebase CLI configuration
.firebase/

# Firebase debug log
firebase-debug.log

Main App/GoogleService-Info.plist

.DS_Store

BankingApp/BankingApp.xcodeproj/project.pbxproj
BankingApp/BankingApp.xcodeproj/project.xcworkspace/contents.xcworkspacedata
BankingApp/BankingApp.xcodeproj/project.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
BankingApp/BankingApp.xcodeproj/project.xcworkspace/xcuserdata/BankingApp/BankingApp.xcodeproj/xcuserdata/


*.xcuserdatad
*.xcuserdata
*.xcworkspace/xcuserdata
*.xcuserstate

Main App/Secret.json
Main App/BankApp.xcodeproj/project.xcworkspace/xcuserdata/angiemartinez.xcuserdatad/UserInterfaceState.xcuserstate
Main App/BankApp.xcodeproj/project.xcworkspace/xcuserdata/angiemartinez.xcuserdatad/UserInterfaceState.xcuserstate
