Main App/Secret.json

# Firebase configuration files
GoogleService-Info.plist
google-services.json

# Node modules
node_modules/

# Environment variables
.env

# Firebase CLI configuration
.firebase/

# Firebase debug log
firebase-debug.log

Main App/GoogleService-Info.plist

.DS_Store
